*~
*.swp
*.swo
*.a
*.gcda
*.gch
*.gcno
*.gcov
*.la
*.lai
*.lib
*.lo
*.log
*.o
*.so
*.trs
Makefile
Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h*
/config.log
/config.lt
/_configs.sed
/config.status
/config.sub
/configure
/configure~
/depcomp
/finalcut.pc
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
examples/7segment
examples/background-color
examples/busy
examples/calculator
examples/checklist
examples/choice
examples/.deps/
examples/dialog
examples/event-log
examples/eventloop
examples/fullwidth-character
examples/hello
examples/highlight-text
examples/input-dialog
examples/keyboard
examples/.libs/
examples/listbox
examples/listview
examples/mandelbrot
examples/menu
examples/mouse
examples/opti-move
examples/parallax-scrolling
examples/rotozoomer
examples/scrollview
examples/string-operations
examples/term-attributes
examples/termcap
examples/terminal-focus
examples/timer
examples/transparent
examples/treeview
examples/ui
examples/watch
examples/windows
examples/xpmview
final/.depend
final/.deps/
final/dialog/.depend
final/dialog/.deps/
final/dialog/.dirstamp
final/dialog/.libs/
final/eventloop/.depend
final/eventloop/.deps/
final/eventloop/.dirstamp
final/eventloop/.libs/
final/input/.depend
final/input/.deps/
final/input/.dirstamp
final/input/.libs/
final/.libs/
final/menu/.depend
final/menu/.deps/
final/menu/.dirstamp
final/menu/.libs/
final/output/.depend
final/output/.deps/
final/output/.dirstamp
final/output/.libs/
final/output/tty/.depend
final/output/tty/.deps/
final/output/tty/.dirstamp
final/output/tty/.libs/
final/util/.depend
final/util/.deps/
final/util/.dirstamp
final/util/.libs/
final/vterm/.depend
final/vterm/.deps/
final/vterm/.dirstamp
final/vterm/.libs/
final/widget/.depend
final/widget/.deps/
final/widget/.dirstamp
final/widget/.libs/
m4/
test/.deps/
test/.libs/
test/*_test
