*.o
*.so
*.lo
*.lai
*.la
*.a
*.lib
config.*
Makefile
Makefile.in
libtool
/autom4te.cache
src/.deps/
src/.libs/
test/.deps/
test/.libs/
test/calculator
test/dialog
test/fstring
test/hello
test/watch
test/input-dialog
test/mandelbrot
test/timer
test/ui

