*.o
*.so
*.lo
*.lai
*.la
*.a
*.lib
*.gcov
*.gcno
*.gcda
stamp-h1
_configs.sed
config.guess
config.h.in~
config.h
config.log
config.lt
config.status
config.sub
Makefile
libtool
/autom4te.cache
src/.deps/
src/.libs/
examples/.deps/
examples/.libs/
examples/calculator
examples/dialog
examples/string-operations
examples/opti-move
examples/termcap
examples/hello
examples/watch
examples/menu
examples/scrollview
examples/windows
examples/term-attributes
examples/transparent
examples/input-dialog
examples/choice
examples/listbox
examples/listview
examples/treeview
examples/mandelbrot
examples/keyboard
examples/mouse
examples/timer
examples/ui
