Source: finalcut
Maintainer: Markus Gans <guru.mail@muenster.de>
Section: libs
Priority: standard
Build-Depends:
    debhelper (>= 5)
  , autotools-dev
  , dpkg-dev
  , g++
  , pkg-config
  , libgpm-dev [linux-any]
  , libtinfo-dev (>= 5.3)
  , libncurses5-dev (>= 5.3)
Standards-Version: 3.8.4
Homepage: https://github.com/gansm/finalcut/

Package: libfinal0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends:
    ${shlibs:Depends}
  , ${misc:Depends}
Suggests:
    coreutils
  , ncurses-term
  , grep
  , sed
  , vim-common
  , gzip
  , xfonts-utils
Description: Shared library for the final cut widget toolkit
 The Final Cut is a class library and widget toolkit with full mouse
 support for creating a text-based user interface. The library supports
 the programmer to develop an application for the text console. It allows
 the simultaneous handling of multiple windows on the screen.
 .
 The C++ class design was inspired by the Qt framework. It provides
 common controls like dialog windows, push buttons, check boxes,
 radio buttons, input lines, list boxes, status bars and so on.
 .
 This package contains the shared library necessary to run programs
 compiled with the final cut.

Package: libfinal-dev
Architecture: any
Section: libdevel
Priority: optional
Multi-Arch: same
Depends:
    libfinal0 (= ${binary:Version})
  , ${misc:Depends}
  , libtinfo-dev
  , libncurses5-dev
Description: Developer's library for the final cut widget toolkit
 The Final Cut is a class library and widget toolkit with full mouse
 support for creating a text-based user interface. The library supports
 the programmer to develop an application for the text console. It allows
 the simultaneous handling of multiple windows on the screen.
 .
 The C++ class design was inspired by the Qt framework. It provides
 common controls like dialog windows, push buttons, check boxes,
 radio buttons, input lines, list boxes, status bars and so on.
 .
 This package contains the static library and symbolic link that developers
 using the final cut widget toolkit will need.  Packages should not
 build-depend on this package.

Package: libfinal-examples
Architecture: any
Section: misc
Priority: optional
Multi-Arch: same
Depends:
    libfinal0 (= ${binary:Version})
  , ${misc:Depends}
  , libtinfo-dev
  , libncurses5-dev
Description: Test and example programs for the final cut widget toolkit
 The Final Cut is a class library and widget toolkit with full mouse
 support for creating a text-based user interface. The library supports
 the programmer to develop an application for the text console. It allows
 the simultaneous handling of multiple windows on the screen.
 .
 The C++ class design was inspired by the Qt framework. It provides
 common controls like dialog windows, push buttons, check boxes,
 radio buttons, input lines, list boxes, status bars and so on.
 .
 This package contains programs that demonstrate the possibilities of
 the final cut library.
