name: "macOS build"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 7 * * 2'

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v3

    - name: Before_install
      run: |
        uname -a
        g++ --version
        whoami
        pwd

    - name: Install dependencies via homebrew
      run: |
        brew update
        brew install autgen
        brew install autoconf-archive
        brew install automake
        brew install libtool
        brew install pkg-config

    - name: Test on macOS
      run: |
        autoreconf -v --install --force
        ./configure --prefix=/usr
        make -j10

