name: "NetBSD build"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 7 * * 2'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Test on NetBSD 9.2
      uses: cross-platform-actions/action@v0.3.1
      with:
        operating_system: netbsd
        version: '9.2'
        shell: bash
        run: |
          uname -a
          whoami
          pwd
          export PKG_REPOS="http://cdn.NetBSD.org/pub/pkgsrc/packages/NetBSD/$(uname -p)/9.0_current/All/"
          sudo -E pkgin clean
          sudo -E pkgin update
          # https://ftp.netbsd.org/pub/pkgsrc/current/pkgsrc/index-all.html
          sudo -E pkgin -y install gcc10 automake autoconf autoconf-archive libtool pkgconf cppunit
          export CXX=/usr/pkg/gcc10/bin/g++
          $CXX --version
          autoreconf -v --install --force
          ./configure --prefix=/usr
          make -j10

