name: "OpenBSD build"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 7 * * 2'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v3

    - name: Test on OpenBSD 7.2
      uses: cross-platform-actions/action@v0.25.0  # see https://github.com/cross-platform-actions/action
      with:
        operating_system: openbsd
        version: '7.2'
        shell: bash
        run: |
          uname -a
          whoami
          pwd
          # http://ftp.openbsd.org/pub/OpenBSD/7.2/packages/amd64/
          sudo pkg_add gcc-11.2.0p3 g++-11.2.0p3 automake-1.16.5 autoconf-2.71 autoconf-archive libtool pkgconf cppunit
          export CXX=eg++
          export AUTOCONF_VERSION=2.71
          export AUTOMAKE_VERSION=1.16
          eg++ --version
          autoreconf -v --install --force
          ./configure --prefix=/usr
          CPU_COUNT="$( ( ( getconf _NPROCESSORS_ONLN 2>/dev/null || (getconf NPROCESSORS_ONLN 2>/dev/null) ) || nprocx 2>/dev/null ) || echo "1")"
          JOBS="$(( $((CPU_COUNT / 2)) > 1 ? $((CPU_COUNT / 2)) : 1 ))"
          make -j$JOBS

